<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-06-06T01:38:50Z</date>
	<key>WorkspacePath</key>
	<string>/Users/sunnypei/Desktop/ios-code/26-Runtime/26-Runtime.xcodeproj</string>
</dict>
</plist>
